<mat-toolbar style="color:bg-blue-900">
    <br>
      <p style="color:#1f3a8a"> ADD Product</p>
      <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="onCancelClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>

   
    
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <mat-card class="background">
        <mat-card-content >
    
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="name" formControlName="name">
                <mat-error *ngIf="productForm.controls['name'].hasError('required')">
                  productName <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          

          
            <div class="col">
                <mat-form-field appearance="fill" class="full-width-category">
                  <mat-label>Brand</mat-label>
                  <mat-select formControlName="brandId">
                    <mat-option *ngFor="let item of brand$  | async" [value]="item.id">
                      {{item.brandName}}
                    </mat-option> 
                  </mat-select>
                  <mat-error *ngIf="productForm.controls['brandId'].hasError('required')">
                    Brand is<strong>required</strong>
                  </mat-error>
                </mat-form-field></div>
        

            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="description" formControlName="description">
                <mat-error *ngIf="productForm.controls['description'].hasError('required')">
                    productDescription <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="price" formControlName="price">
                <mat-error *ngIf="productForm.controls['price'].hasError('required')">
                    productPrice <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          

          
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="categoryId" formControlName="categoryId">
                <mat-error *ngIf="productForm.controls['categoryId'].hasError('required')">
                    productCategory <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          
            <div class="col">
                <div class="full-width" appearance="fill">
                  <label>Attach Image:</label><br><br>
                  <input type="file" (change)="onFileSelected($event)">
          
                  <button mat-raised-button type="button" color="accent" (click)="onUpload()" [disabled]="!uploadStatus">upload</button>
                  <br>
                </div>
                </div>
            <!-- <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="stockId" formControlName="stockId">
                <mat-error *ngIf="productForm.controls['stockId'].hasError('required')">
                  productStock <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div> -->
          </div>
  
  
          <!-- <div class="row">
            <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Remarks</mat-label>
              <textarea matInput placeholder="" formControlName="remarks" ></textarea>
            </mat-form-field>
          </div>
        </div> -->
     
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">ADD</button>&nbsp;&nbsp;
          <!-- <button *ngIf="isEdit" color="primary"   mat-raised-button type="button" [disabled]="!productForm.valid" (click)="edit()">UPDATE</button>&nbsp;&nbsp; -->
          <!-- <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" (click)="onCancelClick()">
            <mat-icon>arrow_back</mat-icon>
          </button> -->
        </mat-card-actions>
        </mat-card-content>
  
      </mat-card>
    </form>

    <!----------------------------------Product  TABLE   STARTS------------------------------------------------------------>

  
  <table mat-table *ngIf="products" [dataSource]="products" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </th>
       <td mat-cell *matCellDef="let element"> {{element.name}} </td>
     </ng-container>
     <ng-container matColumnDef="brandId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.brand.brandName}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category ID </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
      </ng-container>
      <ng-container matColumnDef="file_url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
        <td mat-cell *matCellDef="let element">
    
          <ng-container *ngIf="element.file_url; else alternativeImage">
            <img  src="{{ element.file_url }}" style="width: 50px; height: 50px;" />
          </ng-container>
          
          <ng-template #alternativeImage>
            <img src="../../../../../../assets/img/no_image.jpeg" alt="Alternative Image" style="width: 50px; height: 50px;" />
          </ng-template>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="stockId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock ID </th>
        <td mat-cell *matCellDef="let element"> {{element.stockId}} </td>
      </ng-container> -->
      
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Manage </th>
      <td mat-cell *matCellDef="let element">
        <link rel="stylesheet"  type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  
        <i  class="fa fa-edit" style="font-size: 16px; color:green"></i>
        &nbsp;&nbsp;
        <i class="fa fa-trash"   style="font-size: 16px; color:rgb(151, 70, 70)"></i>
      
      </td>
    </ng-container>
  
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
  <!----------------------------------TABLE   ENDS------------------------------------------------------------>
