<mat-toolbar style="color:bg-blue-900">
    <br>
      <p style="color:#1f3a8a"> ADD CATEGORY</p>
      <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="onCancelClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>
    
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <mat-card class="background">
        <mat-card-content >
    
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="name" formControlName="name">
                <mat-error *ngIf="productForm.controls['name'].hasError('required')">
                  productName <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
  
          <!-- <div class="row">
            <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Remarks</mat-label>
              <textarea matInput placeholder="" formControlName="remarks" ></textarea>
            </mat-form-field>
          </div>
        </div> -->
     
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">ADD</button>&nbsp;&nbsp;
          <!-- <button *ngIf="isEdit" color="primary"   mat-raised-button type="button" [disabled]="!productForm.valid" (click)="edit()">UPDATE</button>&nbsp;&nbsp; -->
          <!-- <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" (click)="onCancelClick()">
            <mat-icon>arrow_back</mat-icon>
          </button> -->
        </mat-card-actions>
        </mat-card-content>
  
      </mat-card>
    </form>
