<div class="product-grid">
    <div class="product-card" *ngIf="productlist">
        <img  src="{{ productlist.file_url }}" style="width: 50px; height: 50px;" />
      <h3>{{ productlist.name }}</h3>
      <p>Price: {{ productlist.price | currency :'INR'}}</p>
      <!-- <button mat-raised-button color="primary" type="button" (click)="viewProduct(product.id)">VIEW</button>&nbsp;&nbsp;-->
      <button mat-raised-button color="primary" type="button" (click)="addToCart(productlist.id)">ADD TO CART</button>&nbsp;&nbsp;

    </div>
  </div>

