/* brand-list.component.scss */

.brand-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .brand-card {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #007bff; /* Card background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  
    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      text-align: center;
      background-color: #007bff; /* Text background color */
      color: #fff; /* Text color */
      padding: 5px 0; /* Add padding to the text */
    }
  
    p {
      font-size: 1.2rem;
      color: #333;
    }
  }
  