<mat-toolbar style="color:bg-blue-900">
    <br>
      <p style="color:#1f3a8a"> Add Shipping Address</p>
      <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="onCancelClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>
    
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <mat-card class="background">
          <mat-card-content >
             
            
              <div class="row">
            
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="addressLine1" formControlName="addressLine1">
                  <mat-error *ngIf="addressForm.controls['addressLine1'].hasError('required')">
                    addressLine1 <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
          
  
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="addressLine2" formControlName="addressLine2">
                  <mat-error *ngIf="addressForm.controls['addressLine2'].hasError('required')">
                    addressLine2 <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="city" formControlName="city">
                  <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                    city <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              
            </div>
  
            <div class="row">
            
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="state" formControlName="state">
                  <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                    state <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            
  
            
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="zipcode" formControlName="zipcode">
                  <mat-error *ngIf="addressForm.controls['zipcode'].hasError('required')">
                    zipcode <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
          
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="country" formControlName="country">
                  <mat-error *ngIf="addressForm.controls['country'].hasError('required')">
                    country <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
    
    
            <!-- <div class="row">
              <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Remarks</mat-label>
                <textarea matInput placeholder="" formControlName="remarks" ></textarea>
              </mat-form-field>
            </div>
          </div> -->
       
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">ADD</button>&nbsp;&nbsp;
            <!-- <button *ngIf="isEdit" color="primary"   mat-raised-button type="button" [disabled]="!addressForm.valid" (click)="edit()">UPDATE</button>&nbsp;&nbsp; -->
            <!-- <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" (click)="onCancelClick()">
              <mat-icon>arrow_back</mat-icon>
            </button> -->
          </mat-card-actions>
          </mat-card-content>
    
        </mat-card>
      </form>


      <div class="address-list">
        <h2>Select an Address</h2>
      
        <div *ngFor="let address of address">
          <label>
            <input type="radio" name="addresses" [(ngModel)]="selectedAddress" [value]="getRadioValue(address)">
            {{ address.addressLine1 }}, {{ address.addressLine2 }}, {{ address.city }}, {{ address.state }}, {{ address.zipcode }}, {{ address.country }}
          </label>
        </div>
        
        <p>Selected Address: {{ selectedAddress | json }}</p>


        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="managePayment()">Proceed to Payment</button>&nbsp;&nbsp;
        </mat-card-actions>
    
    
    
    
    
    
    
    
    
    
    
    
    
        <!----------------------------------Product  TABLE   STARTS------------------------------------------------------------>

    
  
  <!-- <table mat-table *ngIf="address" [dataSource]="address" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="userId">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
       <td mat-cell *matCellDef="let element"> {{element.user.firstName}} </td>
     </ng-container>
     <ng-container matColumnDef="addressLine1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>AddressLine1</th>
        <td mat-cell *matCellDef="let element"> {{element.addressLine1}} </td>
      </ng-container>
      <ng-container matColumnDef="addressLine2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>AddressLine2 </th>
        <td mat-cell *matCellDef="let element"> {{element.addressLine2}} </td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>
      <ng-container matColumnDef="zipcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zipcode </th>
        <td mat-cell *matCellDef="let element"> {{element.zipcode}} </td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>
      
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Manage </th>
      <td mat-cell *matCellDef="let element">
        <link rel="stylesheet"  type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  
        <i  class="fa fa-edit" style="font-size: 16px; color:green"></i>
        &nbsp;&nbsp;
        <i class="fa fa-trash"   style="font-size: 16px; color:rgb(151, 70, 70)"></i>
      
      </td>
    </ng-container>
  
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table> -->
  <!----------------------------------TABLE   ENDS------------------------------------------------------------>





